[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "3.1.0"
python-dotenv = "*"
gunicorn = "*"
gspread = "*"
oauth2client = "*"
tenacity = "*"
psutil = "*"
pyyaml = "*"

[dev-packages]

[requires]
pippython_version = "3.12"
